<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h1>All Users</h1>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Operations</th>
        </tr>
        <tr th:each="user: ${users}">
            <td th:utext="${user.name}"></td>
            <td th:utext="${user.surname}"></td>
            <td th:utext="${user.email}"></td>
            <td>
                <form th:action="@{/updateInfo}">
                    <button type="submit" th:name="userId" th:value="${user.id}">Update</button>
                </form>
                <form th:action="@{/deleteUser}">
                    <button type="submit" th:name="userId" th:value="${user.id}">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <input type="button" value="Add"
    onclick="window.location.href = 'addNewUser'"/>
</div>
</body>
</html>